<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quotes - Share your quotes with your friends</title>
  <link rel="stylesheet" href="styles/landing_page.css">
</head>

<body>
  <header>
    <div class="header_overlay">

    </div>
    <div class="header_content">
      <div class="logo_container">
        <img src="/images/quote.jpg" alt="quote" class="logo">
        <p class="logo-text">uotes</p>
      </div>
      <div class="stretch_div">

      </div>
      <div class="login_button_container">
        <button class="signup-btn" onclick="
      window.location.href = '/signup';
      ">Sign Up</button>
      </div>
    </div>
  </header>
  <main>

    <div class="main_content_container">
      <div class="main_content">
        <h1>Share your quotes with the world!</h1>
        <p class="heading_discription">Got a brilliant quote? Or just something your cat said? Share it here! Inspire, amuse, or confuse others with your wisdom. Whether it's deep thoughts or random ramblings, every quote deserves a spotlight—yes, even the weird ones!.</p>

        <button style="--content: '';" href="/signup" class="get_started_btn" onclick="
      window.location.href = '/signup';
      ">
          Get Started
        </button>

      </div>
    </div>


    <div class="animated_quote_app_container">




      <div class="quote_app">
        <div class="quote_logo_container">
          <img src="/images/quote.jpg" alt="quote" class="quote_logo_on_app">
          <p class="logo_text_on_app">uotes</p>
        </div>

        <div class="quote_adder_cont">
          <div class="fake_input">
            <p class="animated_quote"></p>
          </div>
          <div class="add_button">
            <p class="button_text">Add</p>
          </div>
        </div>

        <div class="quotes_container_on_app">


          <div class="quote-div first-quote-div">
          </div>

          <div class="quote-div second-quote-div">
          </div>

          <div class="quote-div third-quote-div">
          </div>


        </div>
      </div>
      
      
      
    </div>

  </main>
  <footer>

    <div class="footer_overlay">

    </div>
    <div class="footer_content">
      <p class="brand_text"> &#169 Quotes 2024 - All rights reserved </p>
    </div>
  </footer>


<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script src="/scripts/landing_page.js"></script>
</body>

</html>