<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bad Gateway</title>
  <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
  <main>
    <h1>Error 404!</h1>
    <br>
    <br>
    <p>Wrong Url! 
    <a href="/home">Go to Homepage</a></p>
  </main>
</body>

</html>